
/* BACKGROUND PAGE COLOR */
body {
  background-color: #81D8D0;
}

/* HEADINGS */ 
/* H1 -- LARGE HEADING SIZE */
h1 {
  font-size: 40px;
  color: white;
}

/* H2 -- MEDIUM HEADING SIZE */
h2 {
  font-size: 32px;
  color: white;
}


/* PARAGRAPHS */
/* P -- PARAGRAPH SIZE */
p {
  font-size: 20px;
  color: white;
}